<?xml version="1.0"?>
<templateGroups xmlns="http://sd/llblgen/pro/templateGroupsDefinition.xsd">
	<templateGroup name="Adapter" description="Template group which is focused on having persistence logic as a service."/>
	<templateGroup name="SelfServicing" description="Template group which is focused on having persistence logic as behavior."/>
</templateGroups>
